<div class="container second-post-container">


<h1 class="blog-title">{{blog.title}}</h1>

<div class="row post-picture-container">
  <img src={{blog.image}} alt={{blog.title}} class="post-picture"/>
</div>
<div class="row author-date">
  <p>{{blog.author}} | {{blog.date}}</p>
</div>
<div class="row post-body">
  <p>
    {{{blog.post}}}
  </p>
</div>
<div class="row">
  <h2> Comments </h2>
  <div class="col-md-12">
    {{#each blog.comments as |comment|}}
    {{comment-tile comment=comment}}
    {{/each}}
  </div>
</div>
</div>
