{{#if addComment}}
<h1>New Comment</h1>
  <div>
    <form>
      <div class="form-group">
        {{input value=userName id="userName" placeholder="Username"}}
      </div>
      <div class="form-group">
        {{textarea value=body id="body" placeholder="Body"}}
      </div>
      <div class="form-group">
        {{input value=date id="date" placeholder="Date"}}
      </div>
      <button {{action 'saveComment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'showComment'}}>Comment</button>
{{/if}}
