{{#if updateBlog}}
  <h1>Update Blog {{blog.title}}</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author"></label>
        {{input placeholder="Author" value=author id="author"}}
      </div>

      <div class="form-group">

        {{input placeholder="Title" value=title id="title"}}
      </div>

      <div class="form-group">
        {{textarea placeholder="Post" value=post id="post"}}
      </div>

      <div class="form-group">

        {{input placeholder="Date" value=date id="date"}}
      </div>

      <div class="form-group">

        {{input placeholder="Image URL" value=image id="image"}}
      </div>

      <button {{action 'update' blog}}>Update</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateBlog'}}>Update Blog</button>
{{/if}}
