<h2>{{#link-to 'admin'}}Admin Site{{/link-to}}</h2>

<div class="row">
  {{update-blog blog=model update="update"}}

  <!-- {{admin-blog-tile blog=model destroyBlog="destroyBlog"}} -->
</div>

<h1>{{model.title}}</h1>

<div class="row">
  <img src={{model.image}} alt={{model.title}}/>
</div>
<div class="row">
  <p>{{model.author}} | {{model.date}}</p>
</div>
<div class="row">
  <p>
    {{model.post}}
  </p>
</div>
